@font-face {
  font-family: 'Runde-Bold';
  src: url('./fonts/OpenRunde-Bold.otf');
}

@font-face {
  font-family: 'Runde-Medium';
  src: url('./fonts/OpenRunde-Medium.otf');
}

@font-face {
  font-family: 'Runde-Semibold';
  src: url('./fonts/OpenRunde-Semibold.otf');
}

@font-face {
  font-family: 'Runde';
  src: url('./fonts/OpenRunde-Regular.otf');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Runde';
}

::selection {
  background-color: #f5b41a;
  color: white;
}

ul {
  list-style-type: none;
}
