@font-face {
  font-family: 'Runde-Bold';
  src: url('./fonts/OpenRunde-Bold.otf');
}

@font-face {
  font-family: 'Runde-Medium';
  src: url('./fonts/OpenRunde-Medium.otf');
}

@font-face {
  font-family: 'Runde-Semibold';
  src: url('./fonts/OpenRunde-Semibold.otf');
}

@font-face {
  font-family: 'Runde';
  src: url('./fonts/OpenRunde-Regular.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Runde';

  &::-webkit-scrollbar {
    width: 6px;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    background: #c2b7b6;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background: #666666;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #2b2a28;
  }
}

::selection {
  background-color: #f5b41a;
  color: white;
}

ul {
  list-style-type: none;
}
