.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(255, 255, 255, 0.7);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #f5b41a;
}
